:root {
  --primary-background-color: hsl(210, 46%, 95%);
  --component-background-color: #ffffff;
  --primary-font-color: hsl(217, 19%, 35%);
  --secondary-font-color: hsl(214, 17%, 51%);
  --tertiary-font-color: hsl(212, 23%, 69%);
  --large-font-size: 1.8rem;
  --small-font-size: 1.4rem;
}

body {
  background-color: var(--primary-background-color);
}

.manrope-primary-font-family {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.main-container {
  padding: 40px 20px;
}

.article-preview {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--component-background-color);
}

.article-preview__image-container {
  margin-bottom: -10px;
}

.article-preview__image {
  clip-path: inset(0 0 50px 0);
}

.article-preview__info {
  padding: 0 24px;
  margin-bottom: 40px;
  line-height: 1.6;
}

.article-preview__title {
  margin-bottom: 16px;
  font-size: var(--large-font-size);
  font-weight: 700;
  color: var(--primary-font-color);
}

.author-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  padding-bottom: 20px;
}

.author-section__image-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.author-section__profile-image {
  width: 50px;
  border-radius: 50%;
}

.author-section__name {
  margin-right: 40px;
  font-size: var(--small-font-size);
  color: var(--primary-font-color);
  font-weight: 700;
  line-height: 1.6;
}

.article-preview__body {
  font-size: var(--small-font-size);
  color: var(--secondary-font-color);
}

.author-section__publication-date {
  display: block;
  color: var(--tertiary-font-color);
  font-weight: 500;
}

.share-icon {
  padding: 10px;
  border-radius: 50%;
  width: 38px;
  background-color: var(--primary-background-color);
}

.share-section-active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 24px;
  background-color: var(--primary-font-color);
}

.share-section__text {
  text-transform: uppercase;
  font-size: var(--small-font-size);
  color: var(--component-background-color);
  font-weight: 100;
  letter-spacing: 6px;
}

.share-section__social-media-icons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 56px;
}

.fa-x-twitter {
  margin-top: 3px;
  color: var(--component-background-color);
}

.share-icon--active-state {
  background-color: var(--secondary-font-color);
}

.attribution {
  margin-bottom: 12px;
  text-align: center;
  font-size: var(--small-font-size);
}

.attribution__link {
  color: hsl(228, 45%, 44%);
}

.attribution__my-github {
  display: block;
}

.inactive {
  display: none;
}

@media (width >= 700px) {
  body {
    display: grid;
    place-content: center;
  }

  .article-preview {
    flex-direction: row;
    position: relative;
    padding-bottom: 10px;
    -webkit-box-shadow: 17px 12px 79px -38px var(--secondary-font-color);
    -moz-box-shadow: 17px 12px 79px -38px var(--secondary-font-color);
    box-shadow: 17px 12px 79px -38px var(--secondary-font-color);
    overflow: initial;
    max-width: 812px;
  }

  .article-preview__image-container {
    width: 100%;
  }

  .article-preview__image {
    clip-path: initial;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .article-preview__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 36px;
  }

  .article-preview__info {
    margin: 0;
    padding: 0;
  }

  .author-section {
    padding: 0;
  }

  .share-icon {
    cursor: pointer;
  }

  .share-section-active {
    display: flex;
    justify-content: center;
    position: absolute;
    right: -68px;
    top: 110px;
    gap: 20px;
    padding: 20px 32px;
    border-radius: 10px;
    -webkit-box-shadow: 17px 12px 79px -10px var(--primary-font-color);
    -moz-box-shadow: 17px 12px 79px -10px var(--primary-font-color);
    box-shadow: 17px 12px 79px -10px var(--primary-font-color);
  }

  .share-section__social-media-icons {
    margin: 0;
  }

  .share-icon--active-state {
    display: none;
  }

  .share-section-active__triangle-down {
    position: absolute;
    top: 60px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid var(--primary-font-color);
    width: 0;
    height: 0;
  }

  .attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
